{"openapi":"3.0.0","info":{"title":"Bevragingen ingeschreven personen","description":"API voor het ontsluiten van gegevens van ingeschreven personen en aanverwante gegevens uit de GBA en RNI. Met deze API worden de actuele gegevens van ingeschreven personen, hun kinderen, partners en ouders ontsloten. Ook de gegevens over reisdocumenten worden via deze API ontsloten. Zie de [Functionele documentatie](https://github.com/VNG-Realisatie/Bevragingen-ingeschreven-personen/tree/master/features) voor nadere toelichting.","contact":{"name":"Procura BV","url":"https://www.procura.nl","email":"burgerzaken@procura.nl"},"version":"1.3.0"},"servers":[{"url":"https://vrij-brp.demodam.nl/haal-centraal-brp-bevragen","description":"Generated server url"}],"security":[{"basicAuth":[]}],"tags":[{"name":"Ingeschreven personen","description":"Opvragen ingeschreven personen uit de BRP"}],"paths":{"/api/v1.3/ingeschrevenpersonen":{"get":{"tags":["Ingeschreven personen"],"operationId":"getIngeschrevenPersonen","parameters":[{"name":"expand","in":"query","required":false,"schema":{"type":"string"}},{"name":"fields","in":"query","required":false,"schema":{"type":"string"}},{"name":"burgerservicenummer","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"geboorte__datum","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"geboorte__plaats","in":"query","required":false,"schema":{"type":"string"}},{"name":"geslachtsaanduiding","in":"query","required":false,"schema":{"type":"string","enum":["man","vrouw","onbekend"]}},{"name":"inclusiefOverledenPersonen","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"naam__geslachtsnaam","in":"query","required":false,"schema":{"type":"string"}},{"name":"naam__voorvoegsel","in":"query","required":false,"schema":{"type":"string"}},{"name":"naam__voornamen","in":"query","required":false,"schema":{"type":"string"}},{"name":"verblijfplaats__gemeenteVanInschrijving","in":"query","required":false,"schema":{"type":"string"}},{"name":"verblijfplaats__huisletter","in":"query","required":false,"schema":{"type":"string"}},{"name":"verblijfplaats__huisnummer","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"verblijfplaats__huisnummertoevoeging","in":"query","required":false,"schema":{"type":"string"}},{"name":"verblijfplaats__nummeraanduidingIdentificatie","in":"query","required":false,"schema":{"type":"string"}},{"name":"verblijfplaats__straat","in":"query","required":false,"schema":{"type":"string"}},{"name":"verblijfplaats__postcode","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"default response","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/IngeschrevenPersoonHalCollectie"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/IngeschrevenPersoonHalCollectie"}}}}}}},"/api/v1.3/ingeschrevenpersonen/{burgerservicenummer}":{"get":{"tags":["Ingeschreven personen"],"operationId":"getIngeschrevenPersoon","parameters":[{"name":"burgerservicenummer","in":"path","required":true,"schema":{"type":"string"}},{"name":"expand","in":"query","required":false,"schema":{"type":"string"}},{"name":"fields","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"default response","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/IngeschrevenPersoonHal"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/IngeschrevenPersoonHal"}}}}}}},"/api/v1.3/ingeschrevenpersonen/{burgerservicenummer}/kinderen/{id}":{"get":{"tags":["Ingeschreven personen"],"operationId":"getKind","parameters":[{"name":"burgerservicenummer","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"default response","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/KindHalBasis"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/KindHalBasis"}}}}}}},"/api/v1.3/ingeschrevenpersonen/{burgerservicenummer}/ouders/{id}":{"get":{"tags":["Ingeschreven personen"],"operationId":"getOuder","parameters":[{"name":"burgerservicenummer","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"default response","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/OuderHalBasis"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/OuderHalBasis"}}}}}}},"/api/v1.3/ingeschrevenpersonen/{burgerservicenummer}/partners/{id}":{"get":{"tags":["Ingeschreven personen"],"operationId":"getPartner","parameters":[{"name":"burgerservicenummer","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"default response","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/PartnerHalBasis"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/PartnerHalBasis"}}}}}}}},"components":{"schemas":{"AangaanHuwelijkPartnerschap":{"type":"object","properties":{"datum":{"$ref":"#/components/schemas/DatumOnvolledig"},"land":{"$ref":"#/components/schemas/Waardetabel"},"plaats":{"$ref":"#/components/schemas/Waardetabel"},"inOnderzoek":{"$ref":"#/components/schemas/AangaanHuwelijkPartnerschapInOnderzoek"}}},"AangaanHuwelijkPartnerschapInOnderzoek":{"type":"object","properties":{"datum":{"type":"boolean"},"land":{"type":"boolean"},"plaats":{"type":"boolean"},"datumIngangOnderzoek":{"$ref":"#/components/schemas/DatumOnvolledig"}}},"DatumOnvolledig":{"type":"object","properties":{"dag":{"type":"integer","format":"int32"},"datum":{"type":"string","format":"date"},"jaar":{"type":"integer","format":"int32"},"maand":{"type":"integer","format":"int32"}}},"Geboorte":{"type":"object","properties":{"datum":{"$ref":"#/components/schemas/DatumOnvolledig"},"land":{"$ref":"#/components/schemas/Waardetabel"},"plaats":{"$ref":"#/components/schemas/Waardetabel"},"inOnderzoek":{"$ref":"#/components/schemas/GeboorteInOnderzoek"}}},"GeboorteInOnderzoek":{"type":"object","properties":{"datum":{"type":"boolean"},"land":{"type":"boolean"},"plaats":{"type":"boolean"},"datumIngangOnderzoek":{"$ref":"#/components/schemas/DatumOnvolledig"}}},"Gezagsverhouding":{"type":"object","properties":{"indicatieCurateleRegister":{"type":"boolean"},"indicatieGezagMinderjarige":{"type":"string","enum":["ouder1","ouder2","derden","ouder1_en_derde","ouder2_en_derde","ouder1_en_ouder2"]},"inOnderzoek":{"$ref":"#/components/schemas/GezagsverhoudingInOnderzoek"}}},"GezagsverhoudingInOnderzoek":{"type":"object","properties":{"indicatieCurateleRegister":{"type":"boolean"},"indicatieGezagMinderjarige":{"type":"boolean"},"datumIngangOnderzoek":{"$ref":"#/components/schemas/DatumOnvolledig"}}},"HalLink":{"type":"object","properties":{"href":{"type":"string"},"templated":{"type":"boolean"},"title":{"type":"string"}}},"IngeschrevenPersoonEmbedded":{"type":"object","properties":{"ouders":{"type":"array","items":{"$ref":"#/components/schemas/OuderHalBasis"}},"kinderen":{"type":"array","items":{"$ref":"#/components/schemas/KindHalBasis"}},"partners":{"type":"array","items":{"$ref":"#/components/schemas/PartnerHalBasis"}}}},"IngeschrevenPersoonHal":{"type":"object","properties":{"burgerservicenummer":{"type":"string"},"aNummer":{"type":"string"},"geheimhoudingPersoonsgegevens":{"type":"boolean"},"geslachtsaanduiding":{"type":"string","enum":["man","vrouw","onbekend"]},"leeftijd":{"type":"integer","format":"int32"},"datumEersteInschrijvingGBA":{"$ref":"#/components/schemas/DatumOnvolledig"},"kiesrecht":{"$ref":"#/components/schemas/Kiesrecht"},"naam":{"$ref":"#/components/schemas/NaamPersoon"},"inOnderzoek":{"$ref":"#/components/schemas/PersoonInOnderzoek"},"nationaliteiten":{"type":"array","items":{"$ref":"#/components/schemas/Nationaliteit"}},"geboorte":{"$ref":"#/components/schemas/Geboorte"},"opschortingBijhouding":{"$ref":"#/components/schemas/OpschortingBijhouding"},"overlijden":{"$ref":"#/components/schemas/Overlijden"},"verblijfplaats":{"$ref":"#/components/schemas/Verblijfplaats"},"gezagsverhouding":{"$ref":"#/components/schemas/Gezagsverhouding"},"verblijfstitel":{"$ref":"#/components/schemas/Verblijfstitel"},"reisdocumentnummers":{"type":"array","items":{"type":"string"}},"kinderen":{"type":"array","items":{"$ref":"#/components/schemas/Kind"}},"ouders":{"type":"array","items":{"$ref":"#/components/schemas/Ouder"}},"partners":{"type":"array","items":{"$ref":"#/components/schemas/Partner"}},"_links":{"$ref":"#/components/schemas/IngeschrevenPersoonLinks"},"_embedded":{"$ref":"#/components/schemas/IngeschrevenPersoonEmbedded"}}},"IngeschrevenPersoonLinks":{"type":"object","properties":{"self":{"$ref":"#/components/schemas/HalLink"},"ouders":{"type":"array","items":{"$ref":"#/components/schemas/HalLink"}},"reisdocumenten":{"type":"array","items":{"$ref":"#/components/schemas/HalLink"}},"kinderen":{"type":"array","items":{"$ref":"#/components/schemas/HalLink"}},"partners":{"type":"array","items":{"$ref":"#/components/schemas/HalLink"}},"partnerhistorie":{"$ref":"#/components/schemas/HalLink"},"verblijfplaatshistorie":{"$ref":"#/components/schemas/HalLink"},"verblijfstitelhistorie":{"$ref":"#/components/schemas/HalLink"},"nationaliteitHistorie":{"$ref":"#/components/schemas/HalLink"},"adres":{"$ref":"#/components/schemas/HalLink"}}},"Kiesrecht":{"type":"object","properties":{"europeesKiesrecht":{"type":"boolean"},"uitgeslotenVanKiesrecht":{"type":"boolean"},"einddatumUitsluitingEuropeesKiesrecht":{"$ref":"#/components/schemas/DatumOnvolledig"},"einddatumUitsluitingKiesrecht":{"$ref":"#/components/schemas/DatumOnvolledig"}}},"Kind":{"type":"object","properties":{"burgerservicenummer":{"type":"string"},"leeftijd":{"type":"integer","format":"int32"},"inOnderzoek":{"$ref":"#/components/schemas/KindInOnderzoek"},"naam":{"$ref":"#/components/schemas/Naam"},"geboorte":{"$ref":"#/components/schemas/Geboorte"}}},"KindHalBasis":{"type":"object","properties":{"burgerservicenummer":{"type":"string"},"leeftijd":{"type":"integer","format":"int32"},"inOnderzoek":{"$ref":"#/components/schemas/KindInOnderzoek"},"naam":{"$ref":"#/components/schemas/Naam"},"geboorte":{"$ref":"#/components/schemas/Geboorte"},"geheimhoudingPersoonsgegevens":{"type":"boolean"},"_links":{"$ref":"#/components/schemas/KindLinks"}}},"KindInOnderzoek":{"type":"object","properties":{"burgerservicenummer":{"type":"boolean"},"datumIngangOnderzoek":{"$ref":"#/components/schemas/DatumOnvolledig"}}},"KindLinks":{"type":"object","properties":{"self":{"$ref":"#/components/schemas/HalLink"},"ingeschrevenPersoon":{"$ref":"#/components/schemas/HalLink"}}},"Naam":{"type":"object","properties":{"geslachtsnaam":{"type":"string"},"voorletters":{"type":"string"},"voornamen":{"type":"string"},"voorvoegsel":{"type":"string"},"adellijkeTitelPredikaat":{"$ref":"#/components/schemas/Waardetabel"},"inOnderzoek":{"$ref":"#/components/schemas/NaamInOnderzoek"}}},"NaamInOnderzoek":{"type":"object","properties":{"geslachtsnaam":{"type":"boolean"},"voornamen":{"type":"boolean"},"voorvoegsel":{"type":"boolean"},"adellijkeTitelPredikaat":{"type":"boolean"},"datumIngangOnderzoek":{"$ref":"#/components/schemas/DatumOnvolledig"}}},"NaamPersoon":{"type":"object","properties":{"geslachtsnaam":{"type":"string"},"voorletters":{"type":"string"},"voornamen":{"type":"string"},"voorvoegsel":{"type":"string"},"adellijkeTitelPredikaat":{"$ref":"#/components/schemas/Waardetabel"},"inOnderzoek":{"$ref":"#/components/schemas/NaamPersoonInOnderzoek"},"aanhef":{"type":"string"},"aanschrijfwijze":{"type":"string"},"regelVoorafgaandAanAanschrijfwijze":{"type":"string"},"gebruikInLopendeTekst":{"type":"string"},"aanduidingNaamgebruik":{"type":"string","enum":["eigen","eigen_partner","partner","partner_eigen"]}}},"NaamPersoonInOnderzoek":{"type":"object","properties":{"geslachtsnaam":{"type":"boolean"},"voornamen":{"type":"boolean"},"voorvoegsel":{"type":"boolean"},"adellijkeTitelPredikaat":{"type":"boolean"},"datumIngangOnderzoek":{"$ref":"#/components/schemas/DatumOnvolledig"},"aanduidingNaamgebruik":{"type":"boolean"}}},"Nationaliteit":{"type":"object","properties":{"aanduidingBijzonderNederlanderschap":{"type":"string","enum":["behandeld_als_nederlander","vastgesteld_niet_nederlander"]},"datumIngangGeldigheid":{"$ref":"#/components/schemas/DatumOnvolledig"},"nationaliteit":{"$ref":"#/components/schemas/Waardetabel"},"redenOpname":{"$ref":"#/components/schemas/Waardetabel"},"inOnderzoek":{"$ref":"#/components/schemas/NationaliteitInOnderzoek"}}},"NationaliteitInOnderzoek":{"type":"object","properties":{"aanduidingBijzonderNederlanderschap":{"type":"boolean"},"nationaliteit":{"type":"boolean"},"redenOpname":{"type":"boolean"},"datumIngangOnderzoek":{"$ref":"#/components/schemas/DatumOnvolledig"}}},"OpschortingBijhouding":{"type":"object","properties":{"reden":{"type":"string","enum":["overlijden","emigratie","ministerieel_besluit","pl_aangelegd_in_de_rni","fout"]},"datum":{"$ref":"#/components/schemas/DatumOnvolledig"}}},"Ouder":{"type":"object","properties":{"burgerservicenummer":{"type":"string"},"geslachtsaanduiding":{"type":"string","enum":["man","vrouw","onbekend"]},"ouderAanduiding":{"type":"string","enum":["ouder1","ouder2"]},"datumIngangFamilierechtelijkeBetrekking":{"$ref":"#/components/schemas/DatumOnvolledig"},"naam":{"$ref":"#/components/schemas/Naam"},"inOnderzoek":{"$ref":"#/components/schemas/OuderInOnderzoek"},"geboorte":{"$ref":"#/components/schemas/Geboorte"}}},"OuderHalBasis":{"type":"object","properties":{"burgerservicenummer":{"type":"string"},"geslachtsaanduiding":{"type":"string","enum":["man","vrouw","onbekend"]},"ouderAanduiding":{"type":"string","enum":["ouder1","ouder2"]},"datumIngangFamilierechtelijkeBetrekking":{"$ref":"#/components/schemas/DatumOnvolledig"},"naam":{"$ref":"#/components/schemas/Naam"},"inOnderzoek":{"$ref":"#/components/schemas/OuderInOnderzoek"},"geboorte":{"$ref":"#/components/schemas/Geboorte"},"geheimhoudingPersoonsgegevens":{"type":"boolean"},"_links":{"$ref":"#/components/schemas/OuderLinks"}}},"OuderInOnderzoek":{"type":"object","properties":{"burgerservicenummer":{"type":"boolean"},"datumIngangFamilierechtelijkeBetrekking":{"type":"boolean"},"geslachtsaanduiding":{"type":"boolean"},"datumIngangOnderzoek":{"$ref":"#/components/schemas/DatumOnvolledig"}}},"OuderLinks":{"type":"object","properties":{"self":{"$ref":"#/components/schemas/HalLink"},"ingeschrevenPersoon":{"$ref":"#/components/schemas/HalLink"}}},"Overlijden":{"type":"object","properties":{"indicatieOverleden":{"type":"boolean"},"datum":{"$ref":"#/components/schemas/DatumOnvolledig"},"land":{"$ref":"#/components/schemas/Waardetabel"},"plaats":{"$ref":"#/components/schemas/Waardetabel"},"inOnderzoek":{"$ref":"#/components/schemas/OverlijdenInOnderzoek"}}},"OverlijdenInOnderzoek":{"type":"object","properties":{"datum":{"type":"boolean"},"land":{"type":"boolean"},"plaats":{"type":"boolean"},"datumIngangOnderzoek":{"$ref":"#/components/schemas/DatumOnvolledig"}}},"Partner":{"type":"object","properties":{"burgerservicenummer":{"type":"string"},"geslachtsaanduiding":{"type":"string","enum":["man","vrouw","onbekend"]},"soortVerbintenis":{"type":"string","enum":["huwelijk","geregistreerd_partnerschap"]},"naam":{"$ref":"#/components/schemas/Naam"},"geboorte":{"$ref":"#/components/schemas/Geboorte"},"inOnderzoek":{"$ref":"#/components/schemas/PartnerInOnderzoek"},"aangaanHuwelijkPartnerschap":{"$ref":"#/components/schemas/AangaanHuwelijkPartnerschap"}}},"PartnerHalBasis":{"type":"object","properties":{"burgerservicenummer":{"type":"string"},"geslachtsaanduiding":{"type":"string","enum":["man","vrouw","onbekend"]},"soortVerbintenis":{"type":"string","enum":["huwelijk","geregistreerd_partnerschap"]},"naam":{"$ref":"#/components/schemas/Naam"},"geboorte":{"$ref":"#/components/schemas/Geboorte"},"inOnderzoek":{"$ref":"#/components/schemas/PartnerInOnderzoek"},"aangaanHuwelijkPartnerschap":{"$ref":"#/components/schemas/AangaanHuwelijkPartnerschap"},"geheimhoudingPersoonsgegevens":{"type":"boolean"},"_links":{"$ref":"#/components/schemas/PartnerLinks"}}},"PartnerInOnderzoek":{"type":"object","properties":{"burgerservicenummer":{"type":"boolean"},"geslachtsaanduiding":{"type":"boolean"},"soortVerbintenis":{"type":"boolean"},"datumIngangOnderzoek":{"$ref":"#/components/schemas/DatumOnvolledig"}}},"PartnerLinks":{"type":"object","properties":{"self":{"$ref":"#/components/schemas/HalLink"},"ingeschrevenPersoon":{"$ref":"#/components/schemas/HalLink"}}},"PersoonInOnderzoek":{"type":"object","properties":{"burgerservicenummer":{"type":"boolean"},"geslachtsaanduiding":{"type":"boolean"},"datumIngangOnderzoek":{"$ref":"#/components/schemas/DatumOnvolledig"}}},"Verblijfplaats":{"type":"object","properties":{"straat":{"type":"string"},"huisnummer":{"type":"integer","format":"int32"},"huisletter":{"type":"string"},"huisnummertoevoeging":{"type":"string"},"postcode":{"type":"string"},"woonplaats":{"type":"string"},"adresseerbaarObjectIdentificatie":{"type":"string"},"aanduidingBijHuisnummer":{"type":"string","enum":["tegenover","bij"]},"nummeraanduidingIdentificatie":{"type":"string"},"functieAdres":{"type":"string","enum":["woonadres","briefadres"]},"indicatieVestigingVanuitBuitenland":{"type":"boolean"},"locatiebeschrijving":{"type":"string"},"korteNaam":{"type":"string"},"vanuitVertrokkenOnbekendWaarheen":{"type":"boolean"},"datumAanvangAdreshouding":{"$ref":"#/components/schemas/DatumOnvolledig"},"datumIngangGeldigheid":{"$ref":"#/components/schemas/DatumOnvolledig"},"datumInschrijvingInGemeente":{"$ref":"#/components/schemas/DatumOnvolledig"},"datumVestigingInNederland":{"$ref":"#/components/schemas/DatumOnvolledig"},"gemeenteVanInschrijving":{"$ref":"#/components/schemas/Waardetabel"},"landVanwaarIngeschreven":{"$ref":"#/components/schemas/Waardetabel"},"adresregel1":{"type":"string"},"adresregel2":{"type":"string"},"adresregel3":{"type":"string"},"vertrokkenOnbekendWaarheen":{"type":"boolean"},"land":{"$ref":"#/components/schemas/Waardetabel"},"inOnderzoek":{"$ref":"#/components/schemas/VerblijfplaatsInOnderzoek"}}},"VerblijfplaatsInOnderzoek":{"type":"object","properties":{"aanduidingBijHuisnummer":{"type":"boolean"},"datumAanvangAdreshouding":{"type":"boolean"},"datumIngangGeldigheid":{"type":"boolean"},"datumInschrijvingInGemeente":{"type":"boolean"},"datumVestigingInNederland":{"type":"boolean"},"functieAdres":{"type":"boolean"},"gemeenteVanInschrijving":{"type":"boolean"},"huisletter":{"type":"boolean"},"huisnummer":{"type":"boolean"},"huisnummertoevoeging":{"type":"boolean"},"nummeraanduidingIdentificatie":{"type":"boolean"},"adresseerbaarObjectIdentificatie":{"type":"boolean"},"landVanwaarIngeschreven":{"type":"boolean"},"locatiebeschrijving":{"type":"boolean"},"straat":{"type":"boolean"},"postcode":{"type":"boolean"},"korteNaam":{"type":"boolean"},"verblijfBuitenland":{"type":"boolean"},"woonplaats":{"type":"boolean"},"datumIngangOnderzoek":{"$ref":"#/components/schemas/DatumOnvolledig"}}},"Verblijfstitel":{"type":"object","properties":{"aanduiding":{"$ref":"#/components/schemas/Waardetabel"},"datumEinde":{"$ref":"#/components/schemas/DatumOnvolledig"},"datumIngang":{"$ref":"#/components/schemas/DatumOnvolledig"},"inOnderzoek":{"$ref":"#/components/schemas/VerblijfstitelInOnderzoek"}}},"VerblijfstitelInOnderzoek":{"type":"object","properties":{"aanduiding":{"type":"boolean"},"datumEinde":{"type":"boolean"},"datumIngang":{"type":"boolean"},"datumIngangOnderzoek":{"$ref":"#/components/schemas/DatumOnvolledig"}}},"Waardetabel":{"type":"object","properties":{"code":{"type":"string"},"omschrijving":{"type":"string"}}},"HalCollectionLinks":{"type":"object","properties":{"self":{"$ref":"#/components/schemas/HalLink"}}},"IngeschrevenPersoonHalCollectie":{"type":"object","properties":{"_links":{"$ref":"#/components/schemas/HalCollectionLinks"},"_embedded":{"$ref":"#/components/schemas/IngeschrevenPersoonHalCollectieEmbedded"}}},"IngeschrevenPersoonHalCollectieEmbedded":{"type":"object","properties":{"ingeschrevenpersonen":{"type":"array","items":{"$ref":"#/components/schemas/IngeschrevenPersoonHal"}}}}},"securitySchemes":{"basicAuth":{"type":"http","description":"This API uses basic authentication.","scheme":"basic"}}}}